extends layout

block css
   link(rel='stylesheet' href='/stylesheets/jquery-ui.min.css')
   link(rel='stylesheet' href='/stylesheets/bootstrap-tokenfield.min.css')
   link(rel='stylesheet' href='/stylesheets/jquery.dataTables.min.css')

block content
   div.row
      div.col-sm-12
         table#tableTags.display
            tbody
               if results
                  each result in results
                     tr
                        td #{result.codigo}
                        td <div style="float:left;clear:left;">!{result.nota}</div><div style='float:left;clear:left;margin-top:10px'>!{result.arquivos}</div><div style='float:left;clear:left;margin-top:10px'><em><strong>Tags: </strong></em> !{result.tags} </div>
   #modalTags.modal
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
               h4.modal-title Mensagem:
            .modal-body
               p #{message}
            .modal-footer
               button.btn.btn-default(type="button" data-dismiss="modal") Fechar
block script
   script(src='/javascripts/jquery.dataTables.min.js')
   script(src='/javascripts/componentsInit/tables.min.js')
   script(src='/javascripts/bootstrap-tokenfield.min.js')
   script(src='/javascripts/componentsInit/tokenfields.min.js')
   script(src='/javascripts/components/index.min.js')