extends layout

block css
   link(rel='stylesheet' href='/stylesheets/jquery-ui/jquery-ui.css')
   link(rel='stylesheet' href='/stylesheets/datatables/media/css/jquery.dataTables.css')
   link(rel='stylesheet' href='/stylesheets/tokenfield/css/bootstrap-tokenfield.css')
   script(src='/stylesheets/datatables/media/js/jquery.js')
   script.
      if (#{show}) {
         $(document).ready(function(){
            $('#modalTags').modal({backdrop: 'static', show: true});
         });
      }

block content
   div.row
      div.col-sm-12
         table#tableTags.display
            tbody
               if results
                  each result in results
                     tr
                        td #{result.codigo}
                        td <div style="float:left;clear:left;">!{result.nota}</div><div style='float:left;clear:left;margin-top:10px'>!{result.arquivos}</div><div style='float:left;clear:left;margin-top:10px'><em><strong>Tags: </strong></em> !{result.tags} </div>
   #modalTags.modal
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
               h4.modal-title Mensagem:
            .modal-body
               p #{message}
            .modal-footer
               button.btn.btn-default(type="button" data-dismiss="modal") Fechar
block script
   script(src='/stylesheets/tokenfield/bootstrap-tokenfield.js')
   script(src='/javascripts/componentsInit/tokenfields.js')
   script(src='/stylesheets/datatables/media/js/jquery.dataTables.js')
   script(src='/javascripts/componentsInit/tables.js')
   script.
      $(window).on('load',function(event){
          $("#searchTags").focus();
      });

      $('#buttonOR').on('click', function(event){
          $("#choosenButton").val("OR");
          $("searchTags").focus();
      });

      $('#buttonAND').on('click', function(event){
          $("#choosenButton").val("AND");
          $("searchTags").focus();
      });

      $('#buttonTexto').on('click', function(event){
          $("#choosenButton").val("Texto");
          $("searchTags").focus();
      });

      $("#searchTags").on('keyup',function(event){
         var searchTags = $(this).val().replace(/[^a-zA-Z0-9\-]+/g,'');
         $(this).val(searchTags.toUpperCase());
      });

      $("#searchTags").on('tokenfield:createtoken', function(event){
          var existingTokens = $(this).tokenfield('getTokens');
          $.each(existingTokens, function(index, token){
                if (token.value === event.attrs.value) {
                    event.preventDefault();
                }
          });
      });

      $(".btn.btn-default.btn-xs").on('click',function(event){
          $("#searchTags").tokenfield();
          var search = $("#searchTags").val()+","+$(this).attr('id');
          if (search[0]==',')
              search = search.substring(1,(search.length));
          $('#searchTags').tokenfield('setTokens',search);
      })

      $("#tableTags").on('click','a',function(event){
         var codigo = $(this).attr('id');
         var value = $(this).attr('value');
         rest.post('/documents',{codigo: codigo, value: value},function(data){
               window.open(data,'_blank','top=200,left=200,toolbar=no,resizable=yes,scrollbars=no,width=800,height=600');
         });
      });

      /*
      $("#tableTags").on('click','tr', function(event){
           var codigo = $('td',this).eq(0).text();
           var last = document.location.href;
           rest.post('/show',{codigo: codigo, comando: 'show', lastPage: last}, function(data){
                  document.write(data);
                  document.close();
           });
      });
      */


